<div class="header bg-gradient-default shadow pb-5 pt-5 ">
  <div class="container-fluid">
        <!-- Card stats -->
    <div class="container-fluid mx-auto">
      <div class="row">
        <div class="col-xl-10 mb-3 mb-xl-0 col-sm-11 mx-auto">

          <div class="card bg-gradient-lighter shadow">
            <div class="card-header bg-transparent">
              <h2 class="card-title">Long Term Budget</h2>
            </div>
                <div class="card-body">
                <!-- Chart -->
                  <div class="chart">
                  <!-- Chart wrapper -->
                    <canvas id="chart-budget" class="chart-canvas mx-auto"></canvas>
                  </div>
                </div>
                
            </div>
          </div>
        </div>

        <!-- <div class="card bg-gradient-lighter shadow mt-4">
          <h5 class="justify-content-center">Are you saving enough for retirement?</h5>
        </div> -->
    
    </div>
  </div>
</div>
